/*style*/


body{
	background-color: #A19D9A;
	color: #47413E;
	font-family: 'Stint Ultra Expanded', cursive;
}
.container{
	padding-bottom: 100px;
}

.navbar{
	
	background-color: #888583;
	border-radius: 10px;
	border-color: #888583 !important;;
}
.navbar-toggle .icon-bar {
	border-color: #888583 !important;;	
}
.navbar-default .navbar-form {
	border-color: #888583 !important;;
}
.navbar-collapse {
	border-color: #888583 !important;;
}
nav ul li {
	border: none !important;
	text-decoration: none;
	text-transform: uppercase;		
	font-size: 1.05em;
	
}
.navbar-default .navbar-nav>li>a {
	color: #47413E;
}
.navbar-default .navbar-toggle {
    border-color: #FAF1AB;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
   color: #FAF1AB;
}
.logo{
	display: inline;
	float: left;
	margin-left: 10px;
	box-shadow: 3px 3px 3px #47413E;
	border-radius:5px;

}
a:link{
	color: #47413E;
	font-family: 'Stint Ultra Expanded', cursive;
	padding: 5px;
}

a:visited{
		color: #47413E;
}

a:hover{
	color: #FAF1AB;
}
h1{
	font-family: 'Ultra', serif;
	letter-spacing: .05em;

}
h2{
	font-family: 'Ultra', serif;
	font-size: 1.9em;
	letter-spacing: .04em;
	color: #bc0001;
}
h3{
	font-family: 'Ultra', serif;
	font-size: 1.2em;
	letter-spacing: .04em;
	
	color: #bc0001;
}
p{
	font-family: 'Stint Ultra Expanded', cursive;
}

aside{
	text-align: center;
}

.footer {
float:clear;
bottom: 0;
width: 100%;
height: 50px;
background-color: #888583;
margin-top: 40px;
position:fixed;

}

.foot{
	margin-top: 15px;
	font-size: .9em;
}


.container{

}
.search {
	margin-left: 5px;
}

.searchBar{
	display:inline-block;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}

.field{
	padding: 3px;
	width:200px;
	border-radius: 10px;
}

.button{
	margin-left: 5px;
	width:80px;
	border-radius: 10px;
	background-color: #888583;	
}

.button:hover{
	color: #FAF1AB;
}

/*.movieDetail{
	max-width: 700px;
	margin-left: 50px;

}*/
.poster{
	border-radius: 10px;
	margin-top: 30px;
}
.indexImg{
}

.jerkRow{
	margin-top: 50px;
	margin-right: 50px;
}
.jerkO{
	border-radius: 10px;
	display:inline-block;
	float:left;
}
.jerkText{
	float: right;
	display:inline-block;
	font-family: 'Ultra', serif;
	font-size: 1.2em;
	letter-spacing: .04em;
	line-height: 1.2em;
	text-align: justify;


}
.about{
	display: block;
	padding: 20px;
}
.aboutJerks{
	margin-top: 30px;
	text-align: justify;

}
.aboutJerks img{
	border-radius: 10px;
}
.watchButton{

	background-color: #bc0001;
	border-radius: 7px;	
	color: #ccc;
	width: 125px;
}
.deleteThis{
	background-color: #bc0001;
	border-radius: 7px;	
	color: #ccc;
	width: 125px;
}
.buttonDown{

}

@media(max-width: 500px;){



}




