<% include header %>
<div class="about">
	<h2 class="text-center">About Movies For Jerks:</h2>
	<div class="row aboutJerks">
		<div class="col-md-4 col-md-offset-1">
			<img src="/hipsterjerk.jpeg"><p>&nbsp;</p>
		</div>
		<div class="col-md-6 ">
			<p>Cosby sweater meggings PBR&B, twee mixtape typewriter sriracha scenester freegan. Wolf biodiesel hoodie +1, Helvetica beard mlkshk typewriter wayfarers. Ethical Vice PBR&B readymade. Austin Banksy bespoke pug tattooed swag, Etsy ennui 3 wolf moon Shoreditch gentrify. Sriracha ethical actually cred 90's gluten-free. Cliche organic fixie, seitan viral occupy hoodie blog whatever tofu kale chips. Church-key selfies yr, occupy letterpress Truffaut Pitchfork irony tofu messenger bag quinoa tattooed 90's butcher blog.</p>

			<p>Freegan farm-to-table lo-fi Etsy asymmetrical, you probably haven't heard of them mustache trust fund Tumblr bespoke post-ironic shabby chic. Helvetica next level YOLO skateboard lo-fi. Kogi +1 Thundercats try-hard direct trade bicycle rights. Next level pork belly mustache, migas four loko keytar paleo church-key yr wolf. Taxidermy XOXO selfies, Portland brunch gluten-free meggings pickled salvia Pitchfork wolf Carles Cosby sweater. Retro asymmetrical polaroid Blue Bottle cray. Selvage letterpress beard freegan, wolf shabby chic food truck butcher blog Thundercats meggings typewriter viral DIY.</p>
		</div>
	</div>
</div>

<% include footer %>