<%include header %>

	<h1>Got Comments? Who Cares!</h1>
	<form action="/list/:id/comments" method="post">
		<textarea name="commentBox" class="commentForm"></textarea><br/>
		<input class="commentThis"type="submit" value="Comments">
	</form>

<%include footer %>