
 
</div><!--closing div for container-->

<footer class=" footer text-center"><div class="container"><p class="foot">&copy; 2014 Movies For Jerks.<a href="http://omdbapi.com" target="_blank">OMDb API</a></p></div></footer>


</body>
</html>

 