
<% include header %>
<div class="row jerkRow">
	<div class="col-md-5 col-md-offset-1">
		<img src="/000jerk.jpg" class="jerkO">
	</div>
	<div class="col-md-6 jerkText">
		
		<p>Movies For Jerks is a movie database by jerks for jerks. Keep a wishlist of your favorite movies, or don't. We don't give a $h!+.</p>
	
	</div>
</div>
	
	


	



<% include footer %>